body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #8168d4;
    color: white;
    padding: 10px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.icons img {
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.banner {
    text-align: center;
    padding: 50px 0;
    background-color: #f4f4f4;
}

.banner h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.banner p {
    font-size: 18px;
    color: #a894e8;
}

.livros {
    padding: 20px;
    background-color: #fff;
}

.livros h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.lista-livros {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.livro {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 200px;
}

.livro img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background-color: #8168d4;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
